@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

:root {
  --green: #32e0c3;
  --white: #ffffff;
  --white2: #f4f4f4;
  --black: #000000;
  --black2: #14171a;
  --gray: #e5e5e5;
  --gray2: #eeeeee;
  --width: 1024px;
  --width2: 768px;
  --padding: 2rem;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: var(--black);
}

header {
  z-index: 10;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  justify-content: center;
  line-height: 1.2;
}

#header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: var(--width);
  font-size: 1.2rem;
  padding: 0 var(--padding);
}

#logo {
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 3px;
}

#nav {
  display: flex;
  flex-direction: row;
}

header a {
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

header a:hover {
  color: var(--green);
}

.nav-item + .nav-item {
  padding-left: 1.5rem;
}

.nav-item i {
  font-size: 1.5rem;
}

#body {
  background-color: var(--white2);
}

#body-wrapper {
  width: var(--width);
  padding: 10rem var(--padding);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.body-item {
  background-color: var(--black2);
  position: sticky;
  top: 10rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  overflow: hidden;
}

footer {
  background-color: var(--black2);
  height: 200px;
}

@media (max-width: 1023px) {
  #header-wrapper {
    width: var(--width2);
  }

  #body-wrapper {
    width: var(--width2);
  }
}

@media (max-width: 767px) {
  #header-wrapper {
    width: 100%;
  }

  #body-wrapper {
    width: 100%;
    padding: 7rem var(--padding);
  }

  .body-item {
    top: 7rem;
  }
}
