@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

:root {
  --green: #32e0c3;
  --white: #ffffff;
  --white2: #f4f4f4;
  --black: #222831;
  --black2: #393e46;
  --gray: #e5e5e5;
  --gray2: #eeeeee;
  --width: 1024px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

header {
  z-index: 1;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  background-color: var(--white);
  height: 60px;
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--gray);
}

#header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: var(--width);
  font-size: 1.2rem;
}

.video-wrapper {
  height: 100%;
  width: 100%;
  min-width: 100%;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.video {
  position: relative;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 120%;
  box-sizing: border-box;
}

@media (min-aspect-ratio: 16/9) {
  .video {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video {
    width: 300%;
    left: -100%;
  }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.cover-text {
  position: absolute;
  top: 15rem;
  left: 10rem;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}

.cover-text p:nth-child(3) {
  margin-top: 3rem;
  font-size: 2rem;
}

#logo {
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 3px;
}

#nav {
  display: flex;
  flex-direction: row;
}

header a {
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

header a:hover {
  color: var(--green);
}

.nav-item + .nav-item {
  padding-left: 1.5rem;
}

.nav-item i {
  font-size: 1.5rem;
}

#banner-wrapper {
  color: var(--white);
  height: calc(100vh - 60px);
  background-color: var(--black);
}

#body {
  background-color: var(--gray2);
}

#body-wrapper {
  width: var(--width);
  padding: 10rem 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.body-item {
  background-color: var(--black2);
  position: sticky;
  top: 10rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  height: 500px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  overflow: hidden;
}

.body-item + .body-item {
  margin-top: 8rem;
}

.body-item-img {
  width: 100%;
}

.body-item-content {
  flex-grow: 1;
  color: var(--white);
  vertical-align: middle;
}

footer {
  background-color: var(--black2);
  height: 200px;
}
