#banner-wrapper {
  position: relative;
  color: var(--white);
  height: calc(100vh - 60px);
  background-color: var(--black);
}

.video-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  min-width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.video {
  position: relative;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 120%;
  box-sizing: border-box;
  overflow: hidden;
}

@media (min-aspect-ratio: 16/9) {
  .video {
    min-height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video {
    min-width: 300%;
    left: -100%;
  }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.cover-text {
  position: absolute;
  top: 15rem;
  left: 10rem;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
  color: #fff;
}

.cover-text p:nth-child(3) {
  margin-top: 3rem;
  font-size: 2rem;
}

.body-item {
  display: flex;
  flex-direction: row;
  height: 500px;
}

.body-item + .body-item {
  margin-top: 8rem;
}

.body-item-img {
  flex-basis: 50%;
  overflow: hidden;
  background-color: var(--black);
}

.body-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.body-item-content {
  flex-basis: 50%;
  color: var(--white);
  vertical-align: middle;
}

.body-item-content .content-title {
  padding: 4rem 3rem 3rem 3rem;
  font-size: 3rem;
}

.body-item-content .content-description {
  padding: 0 2rem;
  font-size: 1.5rem;
}

@media (max-width: 767px) {
  .cover-text {
    padding: 0 var(--padding);
    font-size: 2rem;
    left: 0;
  }

  .cover-text p:nth-child(3) {
    font-size: 1.5rem;
  }

  .video {
    min-width: 450%;
    left: -175%;
  }

  .body-item {
    flex-direction: column;
  }

  .body-item-content {
    overflow: hidden;
  }

  .body-item-content .content-title {
    padding: var(--padding) 0 1rem 3rem;
    font-size: 2rem;
  }

  .body-item-content .content-description {
    font-size: 1.2rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    height: 7rem;
    overflow: hidden;
  }
}
